In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr1 = np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
ser1 = Series([0,1,2], index=['t','s','u'])
ser2 = Series([3,4], index =['x','y'])

In [7]:
ser1

t    0
s    1
u    2
dtype: int64

In [8]:
ser2

x    3
y    4
dtype: int64

In [11]:
pd.concat([ser1,ser2], axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0    1
s  1.0  NaN
t  0.0  NaN
u  2.0  NaN
x  NaN  3.0
y  NaN  4.0

In [12]:
pd.concat([ser1,ser2], keys=['cat1','cat2'])

cat1  t    0
      s    1
      u    2
cat2  x    3
      y    4
dtype: int64

In [16]:
df1 = DataFrame(np.random.randn(4,3), columns = ['x','y','z'])
df2 = DataFrame(np.random.randn(3,3), columns = ['y','q','x'])

In [17]:
df1

          x         y         z
0  0.468520 -0.047427  0.338219
1  0.976252  1.294433 -0.359031
2  0.140895  0.913454 -0.477449
3  1.088546  1.195136 -1.097266

In [18]:
df2

          y         q         x
0  0.506430  0.073909 -0.187880
1 -1.116457  0.425400 -0.329779
2  0.178115  0.935565  1.230888

In [20]:
pd.concat([df1,df2], keys=['a','b'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

            q         x         y         z
a 0       NaN  0.468520 -0.047427  0.338219
  1       NaN  0.976252  1.294433 -0.359031
  2       NaN  0.140895  0.913454 -0.477449
  3       NaN  1.088546  1.195136 -1.097266
b 0  0.073909 -0.187880  0.506430       NaN
  1  0.425400 -0.329779 -1.116457       NaN
  2  0.935565  1.230888  0.178115       NaN