In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
my_ser = Series([1,2,3,4], index = ['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
my_index[3] = 'Z' # will return error as indexes are not mutable

TypeError: Index does not support mutable operations

In [3]:
ser1 = Series([1,2,3,4], index= ['a','b','c','d'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['a','b','c','D','E','F'], fill_value = 0) # it reindexes the orig indices and for new indices intriduces null values, can fill it default value
ser2

a    1
b    2
c    3
D    0
E    0
F    0
dtype: int64

In [12]:
ser3 = Series(['USA','Mexico', 'Canada'], index =[2,7,12])
ser3

2        USA
7     Mexico
12    Canada
dtype: object

In [16]:
range_x = range(15)
range_x
ser4 = ser3.reindex(range_x, method ='ffill') #forward/'bfill' #backward fill fill will fill previous value till particular index reached
ser4

0        NaN
1        NaN
2        USA
3        USA
4        USA
5        USA
6        USA
7     Mexico
8     Mexico
9     Mexico
10    Mexico
11    Mexico
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
#Dataframes of 25 randome numbers reshaped in 5X5 matrix with rows as indices and columns
dframe = DataFrame(randn(25).reshape((5,5)), index=['a','b','d','e','f'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
a -1.251297  1.090979 -1.141222  0.027442  1.020724
b -0.310639  0.626476 -0.590641  0.567882  0.109799
d -2.681657  0.246350  0.522674  0.146568  1.727403
e -0.849888 -0.768300 -2.171023 -0.190609 -1.762729
f -0.669679  0.660462 -1.815578  0.708668 -0.948198

In [20]:
# new dataframe to add row c with value 0
dframe2 = dframe.reindex(['a','b','c','d','e','f'], fill_value = 0.0)
dframe2

       col1      col2      col3      col4      col5
a -1.251297  1.090979 -1.141222  0.027442  1.020724
b -0.310639  0.626476 -0.590641  0.567882  0.109799
c  0.000000  0.000000  0.000000  0.000000  0.000000
d -2.681657  0.246350  0.522674  0.146568  1.727403
e -0.849888 -0.768300 -2.171023 -0.190609 -1.762729
f -0.669679  0.660462 -1.815578  0.708668 -0.948198

In [22]:
#add new column
new_col = ['col1','col2','col3','col4','col5','col6','col7'] #remember here pass orig column names, if new name added it will add new colns with NaN val
dframe2.reindex(columns=new_col)

       col1      col2      col3      col4      col5  col6  col7
a -1.251297  1.090979 -1.141222  0.027442  1.020724   NaN   NaN
b -0.310639  0.626476 -0.590641  0.567882  0.109799   NaN   NaN
c  0.000000  0.000000  0.000000  0.000000  0.000000   NaN   NaN
d -2.681657  0.246350  0.522674  0.146568  1.727403   NaN   NaN
e -0.849888 -0.768300 -2.171023 -0.190609 -1.762729   NaN   NaN
f -0.669679  0.660462 -1.815578  0.708668 -0.948198   NaN   NaN