In [26]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
df1 = DataFrame({"key" : ['x','y','z','x','z','y'], 'dataset1': np.arange(6)})
df1

In [ ]:
df2 = DataFrame({'key':['q','y','z'],'dataset2':[1,2,3]})
df2

In [ ]:
#merging method one to many ie merging on one key
pd.merge(df1,df2)

In [ ]:
pd.merge(df1,df2,on='key') # can specify merge condition on columns

In [ ]:
pd.merge(df1,df2, on='key', how='left') #so match with df1 it has kept the X values but values are Nan

In [ ]:
pd.merge(df1,df2, on='key', how='right') #for right it keeps all values of df2 but q has not value in df1 hence NaN

In [ ]:
pd.merge(df1,df2,on='key',how='outer') # basically union of both df1 and df2

In [ ]:
#merge method many to many 
df3 = DataFrame({'key' : ['x','x','x','y','z','z'], 'dataset3' :range(6)})
df4 = DataFrame({'key' : ['y','y','x','x','z'],'dataset4':range(5)})

In [ ]:
df3

In [ ]:
df4

In [ ]:
pd.merge(df3,df4)

In [ ]:
dfr = DataFrame({'key1':['sa','sa','la'],'key2':['one','one','two'],'d_r':[10,20,30]})
dfl = DataFrame({'key1':['sa','sa','la','la'],'key2':['one','two','one','two'], "d_l":[40,50,60,70]})

In [ ]:
dfr

In [ ]:
dfl

In [ ]:
pd.merge(dfr,dfl,on=['key1','key2'],how='outer')

In [29]:
#Merge on indices
df_l = DataFrame({'key' : ['x','x','x','y','z','z'], 'dataset3' :range(6)})
df_r = DataFrame({'group_data' : [10,20]}, index = ['x','y'])

In [30]:
df_l

  key  dataset3
0   x         0
1   x         1
2   x         2
3   y         3
4   z         4
5   z         5

In [31]:
df_r

   group_data
x          10
y          20

In [37]:
pd.merge(df_l,df_r, left_on='key',right_index=True)

  key  dataset3  group_data
0   x         0          10
1   x         1          10
2   x         2          10
3   y         3          20