In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
kgs = Series(['Mango','Apple','Oranges','Cherries'], index = ['Four','Eight','One','Three'])

In [7]:
kgs['One']

'Oranges'

In [8]:
'Four' in kgs

True

In [10]:
kgs_dict = kgs.to_dict()
kgs_dict

{'Four': 'Mango', 'Eight': 'Apple', 'One': 'Oranges', 'Three': 'Cherries'}

In [12]:
kgs_series = Series(kgs_dict)
kgs_series

Four        Mango
Eight       Apple
One       Oranges
Three    Cherries
dtype: object

In [14]:
new_kgs = ['One','Two','Three','Four','Eight']
new_kgs_series = Series(kgs_dict, index = new_kgs)
new_kgs_series

One       Oranges
Two           NaN
Three    Cherries
Four        Mango
Eight       Apple
dtype: object

In [16]:
pd.notnull(new_kgs_series)

One       True
Two      False
Three     True
Four      True
Eight     True
dtype: bool

In [19]:
new_kgs_series.name = 'Market List'
new_kgs_series.index.name = 'Quantity'

In [20]:
new_kgs_series

Quantity
One       Oranges
Two           NaN
Three    Cherries
Four        Mango
Eight       Apple
Name: Market List, dtype: object