In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
ser1 = Series(np.arange(3), index = ['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [6]:
ser1.drop('b') #removes entire row b

a    0
c    2
dtype: int32

In [10]:
df = DataFrame(np.arange(6).reshape(2,3), index = ['CA','NC'], columns = ['pop','age','yr'])
df

    pop  age  yr
CA    0    1   2
NC    3    4   5

In [14]:
df.drop('yr', axis=1) # doesnot permanently delete the row/column incase of col specify axis 1 for cloumns

    pop  age
CA    0    1
NC    3    4

In [12]:
df

    pop  age  yr
CA    0    1   2
NC    3    4   5

In [19]:
#selection
ser1 = Series(np.arange(5), index = ['a','b','c','d','e'])
ser1 = 2*ser1
ser1

a    0
b    2
c    4
d    6
e    8
dtype: int32

In [21]:
ser1['b'] # or ser1[1] by index

2

In [22]:
ser1[ser1>5] # in python we would use line comprehension

d    6
e    8
dtype: int32

In [25]:
ser1[['a','b']] # or use slicing[0:2]

a    0
b    2
dtype: int32

In [26]:
#dataframes
df = DataFrame(np.arange(0,25).reshape(5,5), index = ['ny','ca','sc','nc','sf'], columns = ['age','pop','size','yr','code'])
df

    age  pop  size  yr  code
ny    0    1     2   3     4
ca    5    6     7   8     9
sc   10   11    12  13    14
nc   15   16    17  18    19
sf   20   21    22  23    24

In [31]:
#df[0] error df is a matrix so cant directly access by index
df['yr']

ny     3
ca     8
sc    13
nc    18
sf    23
Name: yr, dtype: int32

In [32]:
df[df['size'] > 13] # by condition

    age  pop  size  yr  code
nc   15   16    17  18    19
sf   20   21    22  23    24

In [33]:
df> 10 #boolean df values

      age    pop   size     yr   code
ny  False  False  False  False  False
ca  False  False  False  False  False
sc  False   True   True   True   True
nc   True   True   True   True   True
sf   True   True   True   True   True

In [36]:
df.iloc[0] # for accessing row you can use iloc an pass index or slice

age     0
pop     1
size    2
yr      3
code    4
Name: ny, dtype: int32